.inputGrid {
  margin-top: 1rem;
  width: 100%;
  border-spacing: 0;
  th {
    border-bottom: 1px solid var(--bg-gray-darkest);
    font-size: var(--font-size-xs);
    text-align: right;
    padding: 0.75rem 1.5rem;
    color: var(--color-help-text);
    &:nth-of-type(3),
    &.section_title {
      text-align: left;
    }
  }
  th.section_title {
    padding: 0;
    border: none;
  }

  &:global(.zebra) {
    tbody tr:nth-of-type(even) {
      background-color: var(--bg-gray-darker);
    }
    tbody tr:global(.sep_row),
    tbody tr:global(.sep_total),
    tbody tr:global(.list_total) {
      background-color: var(--bg-gray);
    }
  }

  tr {
    td {
      border-bottom: 1px solid var(--bg-gray-darkest);
      padding: 0.5rem 1.5rem;
      line-height: 1.25rem;
      &:first-of-type {
        width: 6.5rem;
        border-right: 1px solid var(--bg-gray-darkest);
        text-align: right;
        color: var(--color-help-text);
      }

      /* Input */
      &:nth-of-type(2) {
        width: 13rem;
        border-right: 1px solid var(--bg-gray-darkest);
        padding: 0;
        input {
          text-align: right;
          width: 100%;
          height: 4.5rem;
          border: 2px solid transparent;
          padding: 1rem 1.5rem;
          font-size: var(--font-size-body);
          font-style: normal;
          &:focus,
          &:focus-visible {
            outline: none;
            border-color: var(--border-color-focus);
          }
        }
      }

      &:last-of-type {
        color: var(--color-help-text);
      }

      &:global(.sep) {
        border: 0;
        border-bottom: 1px solid var(--bg-gray-darkest);
        height: 1.5rem;
      }
    }

    &:focus-within {
      td {
        background-color: var(--bg-highlight);
        color: var(--base-black);
      }
      td:first-of-type {
        font-weight: bold;
      }
    }

    &:global(.list_total) {
      td:first-of-type {
        border-bottom: 0;
      }
      td:last-of-type {
        border: 0;
      }
    }

    &:global(.sep_total) {
      td:first-of-type,
      td:last-of-type {
        border: 0;
      }
      td:nth-of-type(2) {
        border-right: 0;
      }
    }

    &:global(.is-total) {
      td:last-of-type {
        font-weight: bold;
      }
    }
  }
}

div:global(#missing-total-error) {
  padding-left: 6.5rem;
  padding-top: 1.5rem;
}
