.card {
  width: 25.33rem;
  background-color: var(--base-white);
  padding: 1.75rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
  align-self: flex-start;
}

.labelStatusDateSection {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  p {
    margin-bottom: 0;
  }
}

.label {
  line-height: 1.75rem;
}

.date {
  color: var(--gray-600);
}

.buttonLinks {
  font-size: var(--font-size-md);

  /* Update row styling */
  tr {
    &:hover {
      background: none;
    }
    /* General cell styling */
    td {
      line-height: 1.5rem;
      height: 1.5rem;
      padding: 0;
    }
    /* Cell with the chevron icon */
    td:last-of-type {
      padding-left: 0;
      padding-right: 1.5rem;
      background-position: center right 0;
    }
    /* Add bottom padding if not the last row and align chevron accordingly */
    &:not(:last-child) {
      td {
        padding-bottom: 0.5rem;
        background-position: bottom 0.5rem right 0;
      }
    }
    /* Add top padding if not the first row and align chevron accordingly */
    &:not(:first-child) {
      td {
        padding-top: 0.5rem;
        background-position: top 0.5rem right 0;
      }
    }
    /* Remove bottom border if last row */
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}
