.electionHome {
  .tableTitle {
    margin-bottom: 1rem;
  }

  div.sessions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    div.cards {
      display: flex;
      gap: 2rem;
    }
  }

  div.line {
    border-bottom: 1px solid var(--gray-300);
  }
}

.electionInformationTable {
  width: 58.5rem;
}

.reportInfoSection {
  margin-bottom: 2rem;
  width: 37.5rem;

  ul {
    padding-left: 1.75rem;
  }
}
