.electionHome {
  .tableTitle {
    margin-bottom: 1rem;
  }

  div.sessions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    div.cards {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  div.line {
    border-bottom: 1px solid var(--gray-300);
  }
}

.electionInformationTable {
  width: 58.5rem;
}

.downloadModels {
  p {
    width: 32rem;
    margin-bottom: var(--space-md);
  }
}

main.reportMain {
  background-color: var(--blue-50);

  article {
    background-color: var(--blue-50);
    display: flex;
    gap: 2rem;
  }
}

.reportInfoSection {
  margin-bottom: 2.5rem;
  width: 37.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ol > li::marker {
    font-weight: bold;
  }
}
