.table {
  max-width: 52rem;
  color: var(--gray-900);
  font-size: var(--font-size-md);
  td {
    line-height: 1.5rem;
    padding: 0.5rem 1.5rem;
  }
}

.list-number-column {
  min-width: 3.5rem;
  width: 3.5rem;
  max-width: 3.5rem;
}

.bt-1-gray {
  border-top: 1px solid var(--bg-gray-darkest);
}

.overflow-x {
  width: 52rem;
  overflow-x: auto;
}

.election_summary_table {
  tr {
    th {
      color: var(--base-black);
    }
    td {
      /* Number or DisplayFraction */
      &:first-of-type {
        width: 10.625rem;
      }
      /* Description or extra information */
      &:last-of-type {
        color: var(--gray-600);
      }
    }
  }
}

.apportionment_table {
  tr {
    td {
      /* Seats */
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5) {
        width: 7.65rem;
      }
    }
  }
}

.whole_seats_table {
  tr {
    td {
      /* Signs (: and =) */
      &:nth-of-type(3),
      &:nth-of-type(5) {
        width: 3.75rem;
      }
      /* Total whole seats */
      &:last-of-type {
        width: 9rem;
      }
    }
  }
}

.rest_seats_calculation_table {
  width: 32rem;
  tr {
    td {
      /* Seats */
      &:nth-of-type(2) {
        width: 5rem;
      }
      &:last-of-type {
        width: 6.5rem;
      }
    }
  }
}

.rest_seats_19_or_more_seats_table {
  tr {
    /* List number sticky column */
    td:first-child,
    th:first-child {
      position: sticky;
      left: 0;
    }
    /* List name and 'rest seat added to list' text sticky column */
    td:nth-child(2),
    th:nth-child(2) {
      position: sticky;
      left: 4.525rem;
    }
    /* Number of rest seats sticky column*/
    td:last-child,
    th:last-child {
      position: sticky;
      right: 0;
    }
    td {
      /* List name and 'rest seat added to list' text */
      &:nth-child(2) {
        min-width: 17rem;
      }
      /* Average */
      &:nth-child(n + 3) {
        min-width: 7.5rem;
        max-width: 10.25rem;
      }
      /* Number of rest seats */
      &:last-child {
        min-width: 9.25rem;
        max-width: 10.25rem;
      }
    }
  }
}

.rest_seats_less_than_19_seats_table {
  tr {
    td {
      /* Whole seats */
      &:nth-of-type(3) {
        width: 9.7rem;
      }
      /* Surplus or Average */
      &:nth-of-type(4) {
        width: 8.375rem;
      }
      /* Rest seats */
      &:nth-of-type(5) {
        width: 9.25rem;
      }
    }
  }
}
