.table {
  max-width: 52rem;
  color: var(--gray-900);
  td {
    line-height: 1.5rem;
    padding: 0 1.5rem;
    font-size: var(--font-size-md);
  }
  th {
    text-wrap: nowrap;
  }
  th[scope="row"] {
    font-size: var(--font-size-md);
  }
}

.list-number-column {
  min-width: 3.5rem;
  width: 3.5rem;
  max-width: 3.5rem;
}

.bt-1-gray {
  border-top: 1px solid var(--bg-gray-darkest);
}

.scrollable {
  width: 68rem;
  overflow-x: auto;
}

.sticky {
  position: sticky;
  z-index: 1;
  background-color: var(--bg-gray);
}

.election-summary-table {
  tr {
    th {
      color: var(--base-black);
    }
    td {
      /* Description or extra information */
      &:last-of-type {
        color: var(--gray-600);
      }
    }
  }
}

.whole-seats-table {
  tr {
    th {
      /* Signs (: and =) */
      &:nth-of-type(3),
      &:nth-of-type(5) {
        width: 2rem;
      }
      &:first-of-type,
      &:last-of-type {
        min-width: fit-content;
      }
    }
  }
}

.residual-seats-calculation-table {
  max-width: 34rem;
}

.residual-seats-19-or-more-seats-table {
  max-width: 68rem;
  width: fit-content;
  tr {
    /* List number sticky column */
    td:first-child,
    th:first-child {
      left: 0;
    }
    /* List name and 'residual seat added to list' text sticky column */
    td:nth-child(2),
    th:nth-child(2) {
      left: 4.55rem;
    }
    /* Number of residual seats sticky column*/
    td:last-child,
    th:last-child {
      right: 0;
    }
  }
}
