.table {
  width: 100%;
  line-height: 1.5rem;
  border-spacing: unset;
  color: var(--color-help-text);
  font-size: var(--font-size-body);

  thead {
    font-size: var(--font-size-xs);
  }

  th:not(:global(.bb-none)),
  td:not(:global(.bb-none)) {
    border-bottom: 1px solid var(--bg-gray-darkest);
  }

  th:not(:global(.text-align-r)) {
    text-align: left;
  }

  th[scope="col"] {
    height: 2.75rem;
    line-height: 1.125rem;
    padding: 0 1.5rem;

    &:global(.link-cell-padding) {
      padding-right: 4.5rem;
    }
  }

  th[scope="row"],
  td {
    height: 3.5rem;
    line-height: 1.25rem;
    padding: 0 1.5rem;

    &:global(.link-cell-padding) {
      padding-right: 4.5rem;
    }
  }

  tr.increasedPadding > th[scope="row"],
  tr.increasedPadding > td {
    height: 5rem;
    padding-top: 1.5rem;
  }

  /* Vertical center child inline-blocks */
  td > * {
    vertical-align: middle;
  }

  /* Gap between children */
  td > * + * {
    margin-left: 0.5rem;
  }

  td.numberCell {
    text-align: right;
    width: 6.5rem;
    line-height: 1.75rem;
  }

  td.integerCell {
    padding-right: 0;
    text-align: right;
  }

  td.fractionCell {
    padding-left: 0.5rem;
    text-align: left;
    font-size: var(--font-size-xs);
  }
  td.fractionCell:empty {
    width: 0;
    padding-left: 0;
  }

  tr.rowLink {
    cursor: pointer;

    &:hover {
      background: var(--color-hover);
    }

    /* Cell with the chevron icon */
    td:last-of-type {
      padding-right: 4.5rem;
      background-image: url("../../../assets/icons/chevronRight.svg");
      background-size: 1.25rem;
      background-position: center right 1.5rem;
      background-repeat: no-repeat;
    }
  }

  tr.rowTotal {
    td {
      font-weight: bold;
      border-bottom: none;
    }
  }
}

:where(.numberCell) {
  font-weight: bold;
  font-size: var(--font-size-body);
  /* Enable 'Tabular Figures' font feature for fixed-width numbers */
  font-feature-settings: "tnum" on;
}

/* Style list of button links */
:global(.buttonLinks) {
  font-size: var(--font-size-md);

  /* Update row link styling */
  tr.rowLink {
    &:hover {
      background: none;
    }
    /* General cell styling */
    td {
      line-height: 1.5rem;
      height: 1.5rem;
      padding: 0;
    }
    /* Cell with the chevron icon */
    td:last-of-type {
      padding-left: 0;
      padding-right: 1.5rem;
      background-position: center right 0;
    }
    /* Add bottom padding if not the last row and align chevron accordingly */
    &:not(:last-child) {
      td {
        padding-bottom: 0.5rem;
        background-position: bottom 0.5rem right 0;
      }
    }
    /* Add top padding if not the first row and align chevron accordingly */
    &:not(:first-child) {
      td {
        padding-top: 0.5rem;
        background-position: top 0.5rem right 0;
      }
    }
    /* Remove bottom border if last row */
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}
