*                 @kiesraad/abacus-developers
CLA.md            @kiesraad/abacus-developers @ring-ring-ring
contributors.yml  @kiesraad/abacus-developers @ring-ring-ring
LICENSE           @kiesraad/abacus-developers @ring-ring-ring
README.md         @kiesraad/abacus-developers @marjoleintamis
/documentatie/    @kiesraad/abacus-developers @marjoleintamis
/frontend/        @kiesraad/abacus-developers
