.container {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-bottom: 2rem;
}

.input {
  text-align: right;
  font-family: var(--font-number);
  font-size: var(--font-size-body);
  font-style: normal;
  font-feature-settings: "ss09" on;
}

.message {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--bg-gray-darker);
  height: 4.5rem;
  align-content: center;
  font-size: var(--font-size-body);
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  width: 100%;

  &.error {
    background-color: var(--color-error-bg);
  }

  &.success {
    background-color: var(--color-success-bg);
  }

  .icon {
    padding-top: 0.375rem;
    padding-right: 1rem;
  }
}
