.checkHash {
  border-left: 4px solid var(--color-notify);
  background-color: var(--color-notify-bg);
  padding: 1rem 1.5rem;
  position: relative;
  max-width: 51rem;
  width: fit-content;

  section {
    max-width: 40rem;
    word-break: break-word;

    p {
      margin: 0;
      width: 100%;
    }
  }
}
