.checkHash {
  border-left: 4px solid var(--color-notify);
  background-color: var(--color-notify-bg);
  padding: 1rem 1.5rem;
  position: relative;
  max-width: 51rem;
  width: fit-content;
  color: var(--gray-600);

  section {
    display: inline-flex;
    flex-direction: column;
    gap: 0.625rem;
    max-width: 40rem;
    word-break: break-word;

    > p {
      margin: 0;
      width: 100%;
      color: var(--gray-600);
    }

    > div {
      display: inline-flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }
}
