/* Styling for the apportionment pages */
.article {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.tableTitle {
  margin-bottom: 2rem;
}

.tableInformation {
  display: block;
  width: 39rem;
  margin-bottom: 2rem;
}

/* Styling for the apportionment tables */
.table {
  max-width: 52rem;
  color: var(--gray-900);
  td {
    line-height: 1.5rem;
    font-size: var(--font-size-md);
  }
  th {
    text-wrap: nowrap;
    color: var(--gray-600);
  }
  th[scope="row"] {
    font-size: var(--font-size-md);
  }
}

.listNumberColumn {
  min-width: 3.5rem;
  width: 3.5rem;
  max-width: 3.5rem;
}

.bt1Gray {
  border-top: 1px solid var(--bg-gray-darkest);
}

.scrollable {
  width: 68rem;
  overflow-x: auto;
}

.sticky {
  position: sticky;
  z-index: 1;
  background-color: var(--bg-gray);
}

.electionSummaryTable {
  tr {
    th {
      color: var(--base-black);
    }
    td {
      /* Description or extra information */
      &:last-of-type {
        color: var(--gray-600);
      }
    }
  }
}

.fullSeatsTable {
  tr {
    th {
      /* Signs (: and =) */
      &:nth-of-type(3),
      &:nth-of-type(5) {
        width: 2rem;
      }
      &:first-of-type,
      &:last-of-type {
        min-width: fit-content;
      }
    }
  }
}

.residualSeatsCalculationTable {
  max-width: 34rem;
}

.highestAveragesTable {
  max-width: 68rem;
  width: fit-content;
  tr {
    /* List number sticky column */
    td:first-child,
    th:first-child {
      left: 0;
    }
    /* List name and 'residual seat added to list' text sticky column */
    td:nth-child(2),
    th:nth-child(2) {
      left: 4.55rem;
    }
    /* Number of residual seats sticky column */
    td:last-child,
    th:last-child {
      right: 0;
    }
  }
}
