@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/font/Space_Grotesk/SpaceGrotesk[wght].woff2") format("woff2");
  font-weight: 300 700;
}

@font-face {
  font-family: "DMSans";
  src: url("../assets/font/DM_Sans/DMSans[opsz,wght].woff2") format("woff2");
  font-weight: 100 1000;
}

@font-face {
  font-family: "GeistMono";
  src: url("../assets/font/Geist_Mono/GeistMono[wght].woff2") format("woff2");
  font-weight: 100 900;
}

:root {
  /* FONTS */
  --font-header: "SpaceGrotesk";
  --font-header-body: "DMSans";
  --font-text: "DMSans";
  --font-number: "GeistMono", monospace, monospace;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;

  /* SPACING */
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-md-lg: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;

  /* CORNERS */
  --rounded-default: 0.5rem;

  /* COLORS */
  --gray-900: #101828;
  --gray-800: #1d2939;
  --gray-700: #344054;
  --gray-600: #475467;
  --gray-500: #667085;
  --gray-400: #8792a6;
  --gray-300: #d0d5dd;
  --gray-200: #eaecf0;
  --gray-100: #f2f4f7;
  --gray-50: #f9fafb;
  --gray-25: #fcfcfd;

  --blue-900: #00305b;
  --blue-800: #254b89;
  --blue-700: #2e5eaa;
  --blue-600: #366fca;
  --blue-500: #5c8bd6;
  --blue-400: #82a6e0;
  --blue-300: #a4bee8;
  --blue-200: #c5d6f1;
  --blue-100: #e7eef9;
  --blue-50: #f8fafd;

  --green-900: #113b26;
  --green-800: #195738;
  --green-700: #206c46;
  --green-600: #248052;
  --green-500: #329d68;
  --green-400: #64b58c;
  --green-300: #8fc9ac;
  --green-200: #b8ddca;
  --green-100: #e7f3ee;
  --green-50: #f6fbf9;

  --yellow-900: #402d0d;
  --yellow-800: #644714;
  --yellow-700: #7c5919;
  --yellow-600: #926a1c;
  --yellow-500: #b18322;
  --yellow-400: #d19c26;
  --yellow-300: #efc943;
  --yellow-200: #f5de89;
  --yellow-100: #fff4d6;
  --yellow-50: #fdfaf2;

  --orange-900: #521f09;
  --orange-800: #7a2e0e;
  --orange-700: #b54708;
  --orange-600: #d4690b;
  --orange-500: #f79009;
  --orange-400: #fdb022;
  --orange-300: #fec84b;
  --orange-200: #fedf89;
  --orange-100: #fef4d7;
  --orange-50: #fdfaf2;

  --red-900: #661a27;
  --red-800: #8e2437;
  --red-700: #b02d45;
  --red-600: #d03651;
  --red-500: #e35f77;
  --red-400: #ea889a;
  --red-300: #f0aab7;
  --red-200: #f6cad2;
  --red-100: #fbe9ed;
  --red-50: #fef9fa;

  --purple-700: #b02d45;

  --base-black: #000000;
  --base-blue: var(--blue-900);
  --base-accent: #4a75ba;
  --base-white: #ffffff;

  --accent-orange: #ef8050;

  --interactive-default: #155eef;
  --interactive-hover: #004eeb;
  --interactive-active: #0040c1;
  --interactive-visited: #6927da;

  --text-color-header: var(--gray-900);
  --text-color-body: var(--gray-600);

  --button-color-primary: var(--blue-900);
  --button-color-primary-hover: var(--blue-800);
  --button-color-primary-focus: var(--blue-900);
  --button-color-primary-active: var(--base-black);
  --button-color-primary-active-border: #00254e;
  --button-color-secondary: var(--base-white);
  --button-color-secondary-border: var(--gray-300);
  --button-color-secondary-hover: var(--gray-50);
  --button-color-secondary-active: var(--gray-200);
  --button-color-tertiary: transparent;
  --button-color-tertiary-text: var(--red-700);
  --button-color-tertiary-hover: var(--red-50);
  --button-color-tertiary-active: var(--red-100);
  --button-color-focus: var(--base-white);
  --button-color-focus-border: var(--interactive-default);
  --button-color-focus-shadow: var(--blue-100);
  --button-color-disabled: #b3b3b3;
  --button-color-bg-disabled: #f2f2f2;

  --button-icon-tertiary-color-bg-hover: var(--gray-100);

  --checkbox-radio-color-border: var(--gray-400);
  --checkbox-radio-color-bg-default: var(--base-white);
  --checkbox-radio-color-bg-active: var(--bg-gray);
  --checkbox-radio-color-bg-hover: var(--bg-gray-darker);
  --checkbox-radio-color-bg-disabled: var(--checkbox-radio-color-bg-hover);
  --checkbox-radio-color-bg-default-checked: var(--button-color-primary);
  --checkbox-radio-color-bg-active-checked: var(--button-color-primary-active);
  --checkbox-radio-color-bg-hover-checked: var(--button-color-primary-hover);
  --checkbox-radio-color-bg-focus-checked: var(--checkbox-radio-color-bg-default);
  --checkbox-radio-color-bg-disabled-checked: var(--checkbox-radio-color-border);
  --checkbox-radio-size: 1.25rem;
  --checkbox-radio-svg-size: 0.875rem;

  --shadow-color-focus: #d1e0ff;
  --border-color-default: var(--bg-gray-darkest);
  --border-color-focus: var(--interactive-default);

  --color-error: var(--red-500);
  --color-error-darker: var(--red-600);
  --color-error-darkest: var(--red-700);
  --color-error-bg: var(--red-100);
  --color-error-hover: var(--red-200);

  --color-warning: var(--orange-500);
  --color-warning-darker: var(--orange-600);
  --color-warning-bg: var(--orange-100);
  --color-warning-hover: var(--orange-200);

  --color-notify: var(--blue-600);
  --color-notify-bg: var(--blue-100);
  --color-notify-hover: var(--blue-200);

  --color-success: var(--green-600);
  --color-success-bg: var(--green-100);
  --color-success-hover: var(--green-200);

  --color-help-text: var(--gray-600);
  --color-hover: var(--gray-200);

  --bg-gray: var(--gray-50);
  --bg-gray-darker: var(--gray-100);
  --bg-gray-darkest: var(--gray-300);
  --bg-highlight: #eff4ff;

  --menu-empty: var(--gray-500);
  --menu-unsaved: var(--color-notify);
  --menu-active: var(--text-color-header);
  --menu-accept: var(--color-success);
  --menu-warning: var(--color-warning);
  --menu-error: var(--color-error-darker);

  --badge-first-entry: var(--green-700);
  --badge-first-entry-border: var(--green-200);
  --badge-first-entry-bg: var(--green-100);
  --badge-second-entry: var(--orange-700);
  --badge-second-entry-border: var(--orange-200);
  --badge-second-entry-bg: var(--orange-100);
  --badge-correction: #065986;
  --badge-correction-border: #b9e6fe;
  --badge-correction-bg: #e0fef2;
  --badge-objections: #4a1fb8;
  --badge-objections-border: #d9d6fe;
  --badge-objections-bg: #ebe9fe;
  --badge-difference: var(--base-white);
  --badge-difference-bg: var(--red-600);
  --badge-typist-busy: var(--blue-700);
  --badge-typist-busy-border: var(--blue-200);
  --badge-typist-busy-bg: var(--blue-100);
  --badge-definitive: var(--base-white);
  --badge-definitive-bg: var(--base-blue);

  --progress-bar-default: var(--blue-600);
  --progress-bar-errors-and-warnings: var(--color-error-darker);
  --progress-bar-unfinished: var(--color-warning);
  --progress-bar-in-progress: var(--yellow-300);
  --progress-bar-first-entry-finished: #66c61c;
  --progress-bar-definitive: var(--color-success);
  --progress-bar-not-started: var(--gray-300);
  --progress-bar-not-started-border: var(--gray-300);

  --status-not-started: #9f1ab1;
}
