.pollingstation {
  text-align: center;
  font-family: var(--font-header);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  background: var(--badge-polling-station-bg);
  color: var(--badge-polling-station);
}

.badge {
  text-align: center;
  font-family: var(--font-text);
  font-size: var(--font-size-sm);
  font-style: normal;
  font-weight: bold;
  line-height: 1.25rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  border: 2px solid var(--base-white);
  display: inline-flex;
  gap: 0.5rem;
  min-width: fit-content;
  max-width: fit-content;
  align-items: center;
}

.correction {
  background: var(--badge-correction-bg);
  color: var(--badge-correction);
}

.definitive {
  background: var(--badge-definitive-bg);
  color: var(--badge-definitive);
}

.difference {
  background: var(--badge-difference-bg);
  color: var(--badge-difference);
}

.extra_entry {
  background: var(--badge-extra-entry-bg);
  color: var(--badge-extra-entry);
}

.first_entry_not_started,
.first_entry_in_progress,
.first_entry_has_errors {
  background: var(--badge-first-entry-bg);
  color: var(--badge-first-entry);
}

.objections {
  background: var(--badge-objections-bg);
  color: var(--badge-objections);
}

.second_entry_not_started,
.second_entry_in_progress,
.entries_different {
  background: var(--badge-second-entry-bg);
  color: var(--badge-second-entry);
}

.typist_busy {
  background: var(--badge-typist-busy-bg);
  color: var(--badge-typist-busy);
}
