/* Margin */
.mt-0 {
  margin-top: 0;
}

.mt-md {
  margin-top: var(--space-md);
}

.mt-lg {
  margin-top: var(--space-lg);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-md {
  margin-bottom: var(--space-md);
}

.mb-md-lg {
  margin-bottom: var(--space-md-lg);
}

.mb-lg {
  margin-bottom: var(--space-lg);
}

/* Color */
.bg-gray {
  background-color: var(--bg-gray);
}

.bg-yellow {
  background-color: var(--yellow-200);
}

.text-muted {
  color: var(--gray-400);
}

/* Width */
.w-14 {
  width: 14rem;
}

.w-full {
  width: 100%;
}
