.details {
  margin-bottom: 2cqi;

  dt {
    font-weight: bold;
  }

  dd {
    padding: 0;
    margin: 0 0 1rem 0;
    color: var(--gray-600);
  }
}

.filters {
  margin-top: 1rem;

  & > div {
    margin: 1rem 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
