[package]
name = "apportionment"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
tracing.workspace = true

[dev-dependencies]
test-log = "0.2.19"
