.errorContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.errorContainer h1 {
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 2rem;
}

.errorContainer code {
  font-weight: bold;
}
