.nav-bar {
  flex: 0 0 2.75rem;
  padding: 0 5rem;
  background-color: var(--base-brand-blue);
  color: var(--base-white);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .links {
    display: flex;

    &:not(:has(svg)) {
      gap: 0.5rem;
    }

    > a {
      text-decoration: none;
      color: inherit;

      &:hover,
      &:active {
        color: inherit !important;
      }
    }

    > a,
    > span {
      display: flex;
      height: 3rem;
      padding: 0.5rem 0.75rem;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
    }

    :first-child:not(:global(.active)) {
      padding-left: 0;
    }

    > span:global(.active) {
      border-bottom: 4px solid var(--accent-orange);
      padding-bottom: calc(0.5rem - 4px);
      font-weight: bold;
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  svg {
    width: 1.5rem;
    color: var(--base-white);
    fill: var(--base-white);
  }
}
