.navBar {
  flex: 0 0 2.75rem;
  padding: 0 5rem;
  background-color: var(--base-brand-blue);
  color: var(--base-white);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .links {
    display: flex;
    gap: 0.5rem;
  }

  .userInfo {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover,
    &:active {
      color: inherit !important;
    }
  }

  span {
    display: flex;
    height: 3rem;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  span.active {
    border-bottom: 4px solid var(--accent-orange);
  }

  svg {
    width: 1.5rem;
    color: var(--base-white);
    fill: var(--base-white);
  }
}
