.form-field {
  position: relative;
  aside {
    position: absolute;
    left: 1.5rem;
    z-index: 4;
    top: 50%;
    margin-top: -0.75rem;
    svg {
      width: 1.5rem;
      fill: var(--color-error-darker);
    }
  }

  &:global(.has-warning) {
    aside {
      svg {
        fill: var(--color-warning);
      }
    }
  }

  &:global(.has-error) {
    input {
      padding-left: 3.5rem !important;
    }
    aside {
      svg {
        fill: var(--color-error-darker);
      }
    }
  }
}
