.container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.input {
  text-align: right;
  font-family: var(--font-number);
  font-size: var(--font-size-body);
  font-style: normal;
  font-feature-settings: "ss09" on;
}

.message {
  padding: 1rem 1.5rem;
  background-color: var(--bg-gray-darker);
  height: 4.5rem;
  align-content: center;
  font-size: var(--font-size-body);
  display: inline-flex;
  align-items: center;
  width: 100%;

  &.error {
    background-color: var(--color-error-bg);
  }

  &.success {
    background-color: var(--color-success-bg);
  }

  .icon {
    padding-top: 6px;
    padding-right: 1rem;
  }

  &.submit {
    height: 3.625rem;
    width: inherit;
    font-size: var(--font-size-md);
    border-left: 4px solid var(--color-error-darkest);
  }
}
