.container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.input {
  text-align: right;
}

.message {
  padding: 0 2em;
  background-color: var(--bg-gray-darker);
  height: 4em;
  width: 100%;
  align-content: center;
  font-size: var(--font-size-body);
  display: flex;
  align-items: center;

  &.error {
    background-color: var(--color-error-bg);
  }

  &.success {
    background-color: var(--color-success-bg);
  }

  .icon {
    padding-top: 6px;
    padding-right: 1em;
  }

  &.border {
    border-left: 4px solid var(--color-error-darkest);
  }
}
