.resolveErrors {
  .resolveForm {
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: var(--base-white);
    border-radius: 1rem;

    p {
      margin-bottom: 0;
    }

    fieldset {
      max-width: 37.5rem;

      section {
        gap: var(--space-md);
      }
    }
  }
}
