.resolveErrors {
  p {
    max-width: 37.5rem;
    font-size: var(--font-size-md);
    color: var(--text-color-header);
    line-height: 1.5rem;
  }

  form {
    margin-bottom: 2rem;
  }

  .resolveForm {
    padding: 1.5rem;
    background-color: var(--base-white);
    border-radius: 1rem;

    fieldset {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      max-width: 37.5rem;
    }
  }
}
