.resolveErrors {
  .actions {
    margin-top: var(--space-sm);

    ul {
      list-style-type: disc;
    }
  }

  .resolveForm {
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: var(--base-white);
    border-radius: 1rem;

    p {
      width: 37.5rem;
    }

    fieldset {
      max-width: 37.5rem;

      section {
        gap: var(--space-md);
      }
    }
  }
}
