.article {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.table_title {
  margin-bottom: 2rem;
}

.table_information {
  display: block;
  width: 39rem;
  margin-bottom: 2rem;
}
