.formLayout {
  margin-bottom: var(--space-md);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 40rem;
  }

  legend,
  p,
  :global(.choiceList) {
    width: 32rem;
  }
}

.formSection {
  margin-bottom: var(--space-md);

  h2.formSectionTitle {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: var(--space-md-lg);
  }
}

.formRow {
  display: flex;
  gap: var(--space-md-lg);
}

.formField {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  margin-bottom: var(--space-lg);
}

.formField > label {
  font-weight: bold;
}

.rootFieldset {
  border: none;
  padding: 0;
}

.formAlert {
  overflow: hidden;
  margin: -2.5rem -5rem 2rem -5rem;
}

.formControls {
  display: flex;
  gap: var(--space-md-lg);
}
