.formLayout {
  margin-bottom: var(--space-md);
}

.formLayout.mediumWidth {
  max-width: 32rem;
}

.formSection {
  margin-bottom: var(--space-md);

  h2.formSectionTitle {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: var(--space-md-lg);
  }
}

.formRow {
  display: flex;
  gap: var(--space-md-lg);
}

.formField {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  margin-bottom: var(--space-lg);
}

.formField > label {
  font-weight: bold;
}

.rootFieldset {
  border: none;
  padding: 0;
}

.formAlert {
  overflow: hidden;
  margin-top: -2.5rem;
  margin-left: -5rem;
  margin-right: -5rem;
}

.formControls {
  display: flex;
  gap: var(--space-md-lg);
}
