/* Hides the browser-rendered input, so we can render our own */
input.fileInput {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

label.selectedFile {
  padding-left: 1rem;
  color: var(--gray-600);
}

.fileInputBtn {
  display: inline-block;
  border-radius: var(--rounded-default);

  &:focus-within {
    --button-border-width: 2px;
    border-color: var(--border-color-focus);
    background-color: var(--button-color-primary-focus);
    box-shadow: 0 0 0 4px var(--shadow-color-focus);
    outline: none;
  }
}
