name: Frontend Preview

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  deployments: write

concurrency:
  group: preview-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deploy:
    name: Deploy
    environment:
      name: preview
      url: ${{ steps.deploy.outputs.deployment-url }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
      - name: Build with MSW
        run: npm run build:msw
        env:
          INCLUDE_STORYBOOK_LINK: true
      - name: Build Storybook
        run: npm run build:storybook
      - name: Deploy
        id: deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3
        with:
          apiToken: ${{ secrets.API_TOKEN }}
          accountId: ${{ secrets.ACCOUNT_ID }}
          command: pages deploy dist --project-name=${{ vars.PROJECT_NAME }} --branch ${{ github.head_ref || github.ref_name }} --commit-hash ${{ github.sha }}
          workingDirectory: frontend
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: frontend/dist
