name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read
  pull-requests: write

jobs:
  build-frontend:
    name: Build production frontend (on linux only)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    env:
      SHOW_DEV_PAGE: false
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          package-manager-cache: false
      - name: Install pnpm
        run: >
          npm install --global corepack@latest &&
          corepack enable &&
          corepack prepare pnpm@latest-10 --activate
      - name: Install dependencies
        run: pnpm install
      - name: Install dependencies
        run: pnpm install --prod
      - name: Build
        run: pnpm build
      - uses: actions/upload-artifact@v6
        with:
          name: frontend-production-build
          path: frontend/dist

  build:
    name: Build
    needs:
      - build-frontend
    permissions:
      contents: read
      attestations: write
      id-token: write
    strategy:
      matrix:
        target:
          - os: ubuntu-latest
            name: x86_64-unknown-linux-musl
            binary: backend/target/x86_64-unknown-linux-musl/release/abacus
          - os: windows-latest
            name: x86_64-pc-windows-msvc
            binary: backend/target/x86_64-pc-windows-msvc/release/abacus.exe
    runs-on: ${{ matrix.target.os }}
    defaults:
      run:
        working-directory: ./backend
    env:
      CARGO_TERM_COLOR: always
      SQLX_OFFLINE: "true"
    steps:
      - uses: actions/checkout@v6
      - name: Download Abacus Frontend
        uses: actions/download-artifact@v7
        with:
          name: frontend-production-build
          path: frontend/dist
      - name: Setup Rust
        run: rustup update stable && rustup default stable
      - name: Install target
        run: rustup target add ${{ matrix.target.name }}
      - name: Install musl
        run: sudo apt-get update && sudo apt-get install -y musl-tools
        if: matrix.target.os == 'ubuntu-latest'
      - name: Run tests
        run: cargo --locked test --release --workspace --no-default-features --features memory-serve,embed-typst,airgap-detection --target=${{ matrix.target.name }}
      # no airgap detection build
      - name: Build without airgap detection
        run: cargo --locked build --release --no-default-features --features memory-serve,embed-typst --target=${{ matrix.target.name }}
      - uses: actions/upload-artifact@v6
        with:
          name: abacus-${{ matrix.target.os }}-no-airgap-detection
          path: ${{ matrix.target.binary }}
      # airgap detection build
      - name: Build
        run: cargo --locked build --release --no-default-features --features memory-serve,embed-typst,airgap-detection --target=${{ matrix.target.name }}
      - name: Attest build provenance
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: ${{ matrix.target.binary }}
      - uses: actions/upload-artifact@v6
        with:
          name: abacus-release-${{ matrix.target.os }}
          path: ${{ matrix.target.binary }}

  playwright-e2e:
    name: Playwright e2e tests (${{ matrix.os }} ${{ matrix.shardIndex }}/${{ matrix.shardTotal }})
    needs:
      - build
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        shardIndex: [1, 2, 3]
        shardTotal: [3]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: frontend
    env:
      RELEASE_BUILD: true
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          package-manager-cache: false
      - name: Install pnpm
        run: >
          npm install --global corepack@latest &&
          corepack enable &&
          corepack prepare pnpm@latest-10 --activate
      - name: Install dependencies
        run: pnpm install
      - name: Install Playwright Browsers
        run: pnpm playwright install --with-deps --no-shell
      - name: Download abacus
        uses: actions/download-artifact@v7
        with:
          name: abacus-${{ matrix.os }}-no-airgap-detection
          path: builds/backend
      - name: make backend build executable
        run: chmod a+x ../builds/backend/abacus
        if: runner.os != 'Windows'
      - name: Run Playwright e2e tests
        run: pnpm test:e2e --shard=${{ matrix.shardIndex }}/${{ matrix.shardTotal }}
      - name: Upload Playwright report
        uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-release-${{ matrix.os }}-${{ matrix.shardIndex }}
          path: frontend/playwright-report/
          retention-days: 30

  release:
    name: Release
    needs:
      - build
      - playwright-e2e
    runs-on: ubuntu-latest
    permissions:
      # contents write permission is needed to push create a release
      # https://docs.github.com/en/rest/releases/releases?apiVersion=2022-11-28#create-a-release
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Get build date
        run: |
          BUILD_DATE=$(date -u +'%Y-%m-%d')
          echo "BUILD_DATE=$BUILD_DATE" >> $GITHUB_ENV
      - name: Create release directory
        run: mkdir -p release
      - name: Download abacus
        uses: actions/download-artifact@v7
        with:
          pattern: abacus-release-*
          path: release/
      - name: Create Linux tarball
        run: |
          mkdir -p abacus-linux-${{ github.ref_name }}
          mv abacus-release-ubuntu-latest/abacus abacus-linux-${{ github.ref_name }}/
          cp ../packaging/linux/abacus.service abacus-linux-${{ github.ref_name }}/
          tar -czvf abacus-linux-${{ github.ref_name }}.tar.gz abacus-linux-${{ github.ref_name }}
          rm -rf abacus-linux-${{ github.ref_name }} abacus-release-ubuntu-latest
        working-directory: release
      - name: Rename Windows binary
        run: |
          mv abacus-release-windows-latest/abacus.exe abacus-windows-${{ github.ref_name }}.exe
          rmdir abacus-release-windows-latest
        working-directory: release
      - name: Create a SHA256SUMS file
        run: sha256sum -b * > SHA256SUMS
        working-directory: release
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          body: This is a release of Abacus ${{ github.ref_name }}, commit ${{ github.sha }} on ${{ env.BUILD_DATE }}
          tag_name: ${{ github.ref_name }}
          prerelease: false
          draft: true
          target_commitish: "${{ github.sha }}"
          files: release/*
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Version ${{ github.ref_name }}

  deploy:
    name: Deploy to abacus-test.nl, without airgap detection
    needs:
      - build
      - release
    environment:
      name: release
      url: https://${{ github.sha }}.abacus-test.nl
    permissions:
      contents: read
      deployments: write
    runs-on: ubuntu-latest
    steps:
      - name: Download abacus
        uses: actions/download-artifact@v7
        with:
          name: abacus-ubuntu-latest-no-airgap-detection
      - name: Upload binary to test server
        run: |
          curl -s -v \
          --fail \
          -H "Authorization: Bearer ${{ secrets.ABACUS_TEST_API_KEY }}" \
          -T ./abacus \
          https://abacus-test.nl/etes/api/v1/executable/${{ github.sha }}/${{ github.sha }}
