name: Sigrid Publish

permissions:
  contents: read

on:
  push:
    branches:
      - main

jobs:
  sigridci:
    if: github.repository == 'kiesraad/abacus'
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Sigrid CI
        uses: Software-Improvement-Group/sigridci@8caa13b06cb24f80c33a252349e0480ad88e9fbc # main
        with:
          customer: kiesraad
          system: abacus
          convert: rust
          publishonly: true
        env:
          SIGRID_CI_TOKEN: "${{ secrets.SIGRID_CI_TOKEN }}"
