name: Sigrid PR Feedback

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  sigridci:
    if: "!github.event.pull_request.head.repo.fork"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Sigrid CI
        uses: Software-Improvement-Group/sigridci@6745d388ddae732892c1816536fd40a25dbbb9fc # main
        with:
          customer: kiesraad
          system: abacus
          convert: rust
        env:
          SIGRID_CI_TOKEN: "${{ secrets.SIGRID_CI_TOKEN }}"
      - name: "Sigrid PR feedback"
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2
        if: always()
        with:
          message-id: sigrid
          message-path: sigrid-ci-output/feedback.md

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true