.privacy_statement {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: var(--base-black);

  h2,
  h3,
  p {
    color: var(--base-black);
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    margin-block-end: 0;
  }
}
