article {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: var(--base-black);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    color: var(--base-black);
  }

  ul {
    margin-block-end: 0;
  }
}
